/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start editing from here */

a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */

.txt-lt {
  text-align: left;
}

/* text align left */

.txt-center {
  text-align: center;
}

/* text align center */

.float-rt {
  float: right;
}

/* float right */

.float-lt {
  float: left;
}

/* float left */

.clear {
  clear: both;
}

/* clear float */

.pos-relative {
  position: relative;
}

/* Position Relative */

.pos-absolute {
  position: absolute;
}

/* Position Absolute */

.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
  vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
  display: block;
}

/* vertical menu */

nav.horizontal ul li {
  display: inline-block;
}

/* horizontal menu */

img {
  max-width: 100%;
}

/*end reset*/

/****-----start-body----****/

body {
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 1050px;
}

body a,
form li,
input[type="button"],
input[type="text"],
.sixth-login input[type="button"],
.third-login input[type="button"] {
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
}

.caption {
  color: white;
  font-size: 2em;
}

.wrapper {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

#bottom-container {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding-bottom: 60px;
}

.bottom-question-text {
  font-size: 1em;
}

.bottom-answer-text {
  font-family: regular;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 19px;
  width: 60%;
  display: block;
  margin: 0px auto;
  color: gray;
}

.instructions-container {
  display: block;
  margin: 0px auto;
  width: 640px;
  height: 150px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.instructions-text {
  color: black;
  font-family: monospace;
  font-size: 19px;
  text-align: left;
  padding-top: 12px;
}

.instructions-header {
  color: black;
  font-family: monospace;
  font-size: 19px;
  text-align: center;
  padding-top: 12px;
}

.info {
  clear: both;
}

.heads {
  float: left;
}

.tails {
  float: right;
}

.total-container {
  width: 60%;
  height: 45px;
  display: block;
  margin: 0px auto;
  margin-top: 30px;
}

.total-container-left {
  width: 50%;
  height: 34px;
  float: left;
  text-align: center;
  color: #3B8E56;
  background-color: #C6FFD8;
  font-family: semibold;
  font-size: 18px;
  padding-top: 11px;
}

.total-container-right {
  width: 50%;
  height: 34px;
  float: right;
  text-align: center;
  color: white;
  background-color: #37B660;
  font-family: semibold;
  font-size: 18px;
  padding-top: 11px;
}

.login-form {
  background: #2b2b36;
  position: relative;
  width: 40%;
  margin: 3% auto 0 auto;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
}

.avtar img {
  margin: 2em 0 0;
}

.head-info {
  padding: 5px 0;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  color: #fff;
  background: #23232e;
  height: 50px;
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10p
}

input[type="number"] {
  width: 70%;
  padding: 1em 2em 1em 3em;
  color: #9199aa;
  font-size: 18px;
  outline: none;
  background: url(../images/adm.png) no-repeat 10px 15px;
  border: none;
  font-weight: 100;
  border-bottom: 1px solid#484856;
  margin-top: 1em;
}

button[type="button"] {
  font-size: 30px;
  color: #fff;
  outline: none;
  border: none;
  background: #3ea751;
  width: 100%;
  padding: 18px 0;
  border-bottom-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #ff2775;
  border-bottom-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -o-border-bottom-right-radius: 15px;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
}

/*--/copyrights--*/

/*--start-responsive-design--*/

@media (max-width:1440px) {
  .key {
    background: url(../images/pass.png) no-repeat 376px 17px;
  }
  body {
    min-height: 811px;
  }
}

@media (max-width:1366px) {
  .key {
    background: url(../images/pass.png) no-repeat 358px 19px;
  }
  .copy-rights {
    margin-top: 3em;
  }
  body {
    min-height: 768px;
  }
}

@media (max-width:1280px) {
  .key {
    background: url(../images/pass.png) no-repeat 336px 18px;
  }
  body {
    min-height: 711px;
  }
  .copy-rights {
    margin-top: 0.5em;
  }
}

@media (max-width:1024px) {
  .login-form {
    width: 37%;
  }
  .key {
    background: url(../images/pass.png) no-repeat 339px 18px;
  }
  .copy-rights {
    margin-top: 3em;
  }
  h1 {
    padding-top: 2em;
  }
  body {
    min-height: 675px;
  }
}

@media (max-width:768px) {
  .login-form {
    width: 50%;
    margin: 12% auto 0 auto;
  }
  .key {
    background: url(../images/pass.png) no-repeat 342px 18px;
  }
  body {
    min-height: 929px;
  }
}

@media (max-width:640px) {
  .login-form {
    width: 60%;
    margin: 20% auto 0 auto;
  }
  .key {
    background: url(../images/pass.png) no-repeat 342px 19px;
  }
}

@media (max-width:480px) {
  .login-form {
    width: 80%;
  }
}

@media (max-width:320px) {
  h1 {
    padding-top: 1em;
    font-size: 1.5em;
  }
  .login-form {
    width: 90%;
    margin: 10% auto 0 auto;
  }
  input[type="text"] {
    width: 62%;
    padding: 1.2em 2em .5em 2.5em;
    font-size: 17px;
    margin-top: .5em;
  }
  input[type="password"] {
    width: 62%;
    padding: 1.2em 2em .5em 2.5em;
    font-size: 17px;
    margin-top: .5em;
    margin-bottom: 2em;
    background: url(../images/key.png) no-repeat 8px 23px;
  }
  .key {
    background: url(../images/pass.png) no-repeat 235px 27px;
  }
  .avtar img {
    margin: 1.1em 0 0;
  }
  .head-info {
    height: 35px;
  }
  label.lbl-1 {
    margin: 8px 10px 0px 0px;
  }
  label.lbl-2 {
    margin: 8px 10px 0px 0px;
  }
  label.lbl-3 {
    margin: 8px 10px 0px 0px;
  }
  .close {
    left: 16px;
    top: 13px;
  }
  .copy-rights {
    margin-top: 2em;
  }
  body {
    min-height: 504px;
  }
  input[type="submit"] {
    font-size: 28px;
    padding: 10px 0;
  }
}

/*--end-responsive-design--*/
